.countries-list-container{

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 70px;

}
.on-loading-container{
height: calc(100vh - 320px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

@media (max-width: 987px) and (min-width: 700px)  {
    .countries-list-container{
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

}
}

@media (max-width: 1299px) and (min-width: 988px)  {
    .countries-list-container{
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

}
}

@media (min-width:1300px){
.countries-list-container{
  grid-template-columns: repeat(4, 1fr);
}
}


