.homeContainer{
    height: calc(100% - 64px);
  padding: 0 4px;
}
.researches-container{
    height: 160px;
    display: block;
    justify-content: space-between;
    width: 100%;
    align-items: center;
margin: 28px 20px 0 20px;
    >.searchInput, > div select{
        border-radius: 5px;
            box-shadow:rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}
@media (min-width:890px){
.homeContainer{
  padding: 0 40px;
}
.researches-container{
  height: 120px;
   display: flex;
    justify-content: space-between;
margin: 0;
}
}