.searbar-container{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: chocolate;
    .searchInput{
        width: 500px;
        height: 40px;
    }
}