.card-details-page-container{
margin: auto;
height: 100%;
padding: 0 80px;
.go-back-container{
    display: flex;
flex-direction: column;
justify-content: center;
height: 180px;
width: 100%;

    .go-back-button{
    width: 130px;
    height: 40px;
    border-radius: 4px;
    color:var(--text);
    box-shadow: rgb(60 64 67 / 15%) 0px 2px 6px 2px;
    background-color: var(--element);
    border: none;
    font-weight: 600;
    cursor: pointer;
    .go-back-button-text{
        padding-left: 10px;
        font-weight: 600;
        font-size: 16px;
    }
}
}

.card-details-container{
    width: 100%;
    height: 400px;
.card-details-items{
display: flex;

 img{
        
            height: 400px;
            margin-right: 100px;
        }    
    .card-details-content{
width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow-x: hidden;

.details-content-rows{
    display: flex;
  
    .details-content-items{
    width: 50%;

 &-left-bloc{
     
    width: 50%;
    text-align: left;

      h2.card-details-name{
          font-size: 32px;
      }

 }
    }
}

.borders-countries-container{
    display: flex;
    align-items: center;
   
.border-countries-title{
    width: 130px;
}
 .borders {
  display: flex;
  overflow-x: auto;
}

 .borders ul {
    margin: 10px;
    padding: 3px 20px;
    border-radius: 3px;
    background-color: var(--element);
    box-shadow: rgb(60 64 67 / 15%) 0px 2px 6px 2px;

  >li{
     a{
list-style-type: none;
color: var(--text);
     } 
  }
}
    }
    }
} 
}
}

@media (max-width:1292px){

.card-details-page-container{
padding: 0 20px;
.card-details-container{
    width: 100%;
    height: 300px;
.card-details-items{
  
 img{        
            height: 300px;
            margin-right: 100px;
        }    
.borders-countries-container{
    display: flex;
 .borders ul {
    padding: 3px 10px;
    margin: 5px;
}
    }
}  
} 
}
}



@media (max-width: 954px) and (min-width: 515px)  {
.card-details-page-container{

.go-back-container{
height: 80px;
width: 100%;
}

.card-details-container{
    width: 100%;
    height: 800px;
    display: block;
.card-details-items{
  display: block;
.card-details-items-img{
text-align: center;
     img{
        
            height: auto;
            width: 50%;
            margin: 0;

        }    
}

}  
}
}
}

@media (max-width: 514px) and (min-width: 350px)  {
.card-details-page-container{
.go-back-container{

height: 80px;
}
.card-details-container{
.card-details-items{
  display: block;
.card-details-items-img{
            height: 200px;
             img{
        margin: 0;
            height: 100%;
            width: 100%;
        }   
}
}  
}
}
}