*{
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2{
    font-size: 20px;
    font-weight: 800;
}

h3{
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
        .style-italic{
        font-weight: 300;
        font-size: inherit;
      }
}

[data-theme="light"] {
  --background: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
}
[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --element: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
}