*{
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
   padding: 0;
    background: rgba(248, 248, 248, 0.753);
    color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

